.Caption:not(.small) {
  margin-top: 8px;
}

.Caption.small {
  font-size: .8rem;
  color: rgba(0,0,0,0.54);
  width: 180px; 
}

.caption-title-line {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;}