.ThumbGrid {
  padding: 0 24px;
}
.flexed {
  display: flex;
align-items: center;
}

.pages-list {
  margin-left: auto;  
}

.sorter {
  margin-left: auto; 
  margin-right: 24px; 
}

.crumb {
  margin-left: 24px;
}

.crumb.landscape {    
  display: none;
}

.chip {
  margin: 0 4px !important;
}


@media only screen and (max-width: 600px) {
  .crumb { 
    display: none;
  }

  .sorter { 
    margin-right: 0;
  }

}